{% extends 'Seller/base.html' %}
<!--  -->
{% block title %}{% endblock title %}
<!--  -->

{% block content %}
<!--  -->
<div class="edit-product-info" style="margin:20px;">
    <h3>Edit {{product.product_name}} Information</h3>
    <form action="{% url 'seller:edit_product' product.id %}" class="product-edit-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <p>Product Name:</p>
            <input id="productName" type="text" name="productName" value="{{product.product_name}}" required/>
            <!--  -->
        </div>
        <div>
            <!-- -->
            <p>No. of Products: </p>
            <input id="nproducts" type="number" name="numberofproducts" value="{{product.number_of_products}}" />

        </div>
        <div>
            <p>Purchase At:</p>
            <input id="priceInput" type="number" name="unitPrice" oninput="doOnChange()" placeholder="Enter Purchase Price" />

        </div>
        <!--  -->
        <div>
            <p>Manuf. Date:</p>
            <input type="date" name="manuf_date" value="{{product.manuf_date}}" /> {{product.manuf_date}}
        </div>
        <!--  -->
        <div>
            <p>Expire Date:</p>
            <input type="date" name="expire_date" value="{{product.expire_date}}" /> {{product.expire_date}}
            <!--  -->
        </div>
        <!--  -->


        <div>
            <p>Photo:</p>
            <input type="file" name="product_image" required/> <img src="{{product.image.url}}" width="50px " height="50px" />
            <!--  -->

        </div>
        <!--  -->
        <div>
            </p>Current Pricing</p>
            <input id="cprice" name="price" oninput="doOnChange()" value="{{product.price}}" />
        </div>

        <div>
            <!--  -->
            <p>Description</p>
            <textarea name="describe" id="for-product-description" cols="30" rows="10">{{product.description}}"</textarea>
        </div>

        <!--  -->
        <input type="submit" value="Save" />

    </form>
</div>

<!--  -->

{% endblock content %}