<div class="footer-notes">
    <section class="master-info">
        <caption>Master Informations</caption>
        <ul>
            <li>
                <a href="{% url 'seller:home' %}">Seller</a>
            </li>
            <li>
                <a href="#"> Contact </a>
            </li>
            <li>
                <a href="#"> About Us</a>
            </li>
        </ul>
    </section>
    <section class="master-services">
        <caption>Master Serives </caption>
        <ul>
            <li>
                <a href="#" class="services">Development</a>
            </li>
            <li>
                <a href="#" class="services">Programming</a>
            </li>
            <li>
                <a href="#" class="services">Consultancy</a>
            </li>
            <li>
                <a href="#" class="services">Marketing</a>
            </li>
        </ul>
    </section>
    <section class="sponsers-and-partners">
        <caption>Sponsers And Partners</caption>
        <ul>
            <li>
                <a href="#" class="s-and-p">www.google.com</a>
            </li>
        </ul>
    </section>

    <section class="app-footer-description">
        <p>
            &COPY; By master.com
        </p>
        <p>
            <a href="#" class="terms-and-conditions">Terms And Conditions</a>
        </p>
    </section>
</div>